@model AccountPlugin.Models.LoginViewModel
@{
    Layout = Common.Controllers.BaseController.DefaultLayout;
    ViewBag.PageTitle = "Log In";
    ViewBag.PageDescription = "Welcome back";
}

<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ValidationSummary", ViewData.ModelState)
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="form-group form-actions">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        }
        <div class="form-group">
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <h3>Don't have an account?</h3>
        @Html.ActionLink("Register as a new user", "Register")
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@