@model AccountPlugin.Models.ResetPasswordViewModel
@{
    Layout = Common.Controllers.BaseController.DefaultLayout;
    ViewBag.PageTitle = "Password Reset";
    ViewBag.PageDescription = "Forgot your password";
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ValidationSummary", ViewData.ModelState)
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group form-actions">
                <input type="submit" class="btn btn-primary" value="Reset Password" />
            </div>
        }
    </div>
</div>